1.  Within the home page the user sees a list of instructors with their names, emails, and a button which says
'show schedule'.
2.  The UI should always allow for the following actions:
    1.  Add a new staff member
    2.  Add a new student
    3.  Show all staff members
    4.  Show all students
    5.  This might be optional, search a range of dates, including a single date, to show all bookings
3.  Staff Behavior
    1.  show a schedule for a staff, restrict with a date picker or an input field
    2.  Be able to add a new time slot (schedule) for a staff member
    3.  The staff should be able to cancel a time slot (schedule)
4.  Student Behavior
    1.  book with a staff member schedule
    2.  cancel a booking with a staff member